{# template 'users/create_content'#}
{% extends "layouts/dashboard.html" %}
{% load static%}
{%block header%}


 <script async src="{% static 'js/tagsinput.js' %}"></script>
 
  

 <link rel="stylesheet" type="text/css" href="{% static 'css/tagsinput.css' %}">
{%endblock%}
{% block content %}
    {%load i18n %}
{% comment %}Translators: View verb{% endcomment %}

  
     
    <h3><i class="fa fa-pencil"></i> Post A Content To Viewers </h3>
  <div class="form-panel" style="width: 100%;">
<style type="text/css">
  label{
    color: #333;
    font-weight: 300px;
  }
</style>
  <div class="form-panel">
    <form method="post" class="form-horizontal" enctype="multipart/form-data">
      {% csrf_token %}
      {% if form.errors%}
        <p class="alert alert-danger centered"> 
        Form could not be saved 
      </p>
      {% endif %}
   
        <legend>{{legend | upper}}</legend>
   
        {%for field in form.visible_fields %}
 
            <div class="form-group">
                <div class="control-sm-label" style="color:black">
                  {{field.label}}
                </div>

            <div class='input-group'>
                {{field}}
                {{field.help_text}}
              <ul>
                 <li style="color:indianred;">
                  <small>{{field.errors}}</small>
                </li>
              </ul>
            
                {% if field.label == "Blog Content"%}
                  <ul>
                  <li><div id="character_count"></div><li>
                  <li><div id="text_errors" style="color:red;"></div></li>
                </ul>
                {%endif%}
              </div> 
          </div>
        
       

       


        {% endfor %}
  
    
        <input type="submit" onclick="submit()"  id="submit" class="btn btn-block btn-success text-center"  
         value="CREATE MY POST">
      </form>
    </div>
  </div>

  

<script src="https://cloud.tinymce.com/5/tinymce.min.js?apiKey=qyg9booc56vxgcp2hprjqey5yg92id22iani4etzttugrj7w"></script> 
<script>
  function submit(){
    document.forms[0].submit();
  }
  </script>
   <script> tinymce.init({
            selector: 'textarea',
            width: 800,
            height: 600,
            setup: function (ed) {
                ed.on('keyup',  (e) => { 
                
                    var count = CountCharacters();
                    document.getElementById("character_count").innerHTML = "Characters: " + count;
                });
                ed.on('mouseleave', (e) => { 
                  return ValidateCharacterLength()
                });
            }
        });

    function CountCharacters() {
        var body = tinymce.get("id_content").getBody();
        var content = tinymce.trim(body.innerText || body.textContent);
        return content.length;
    };
    function ValidateCharacterLength() {
        var max = 12000;
        var min = 500;
        var count = CountCharacters();
        const subm = document.getElementById('submit')

        const x  = document.getElementById('text_errors')
        if (count > max) {
          x.style.display = 'block';
            x.innerText = "Maximum " + max + " characters allowed." 
            
        }
        else{
          x.style.display = 'none';
        }
        if (count < min){
          x.style.display = 'block';
            x.innerText = "Minimum " + min + " characters is allowed"
          
        }
        else{
          x.style.display = 'none';
        }
        if (count > max || count < min){
           subm.setAttribute("disabled", "disabled")
           return false
         }
        else
           subm.removeAttribute("disabled", "disabled")
        return;
    }
    


</script>

{% endblock %}
