body{
  font-family: "Lato","Helvetica Neue","Helvetica";
  background: #fff;
}



.form-group{
  margin-bottom: 30px;
}

.form-group  label{
  position: absolute;
  top:14px;
  font-size: 15px;
  color: #444;
  z-index: 2;
  cursor: text;
  margin: 0;
  outline:0;
  transition: transform 150ms ease-out, font-size 150ms ease-out, color 0.2s ease-out;   
}


.bmd-form-group  .form-control {
  background: no-repeat center bottom, center calc(100% - 1px);
  background-size: 0 100%, 100% 100%;
  border: 0;
  outline:0;
  height: 36px;
  transition: background 0s ease-out;
  padding-left: 5px;
  padding-right: 0;
  border-radius: 0px 0px 0px 0px;

  font-size: 14px;
}


.form-control:focus, .reginput:focus{
  box-shadow: none;
  outline:0;
  box-shadow: none;
  background-color: rgba(0,0,0,0);
}

.form-group .focused .form-control, .form-group .focused .reginput{
  padding-top: 2px;
  transition-duration: 0.2s;
}



.form-group.focused label{
  content: "";
  color: indigo;
  font-size:0.75em;
  transform: translateY(-100%);
  text-transform: uppercase;
  transition: transform 0.1s ease-out;
}





.bmd-form-group .form-control, .bmd-form-group label, .bmd-form-group input::placeholder {
  line-height: 1.1;
}





.ribben {
  position: absolute;
  top: -6%;
  left: -3%;
  padding: 0.4em;
  background: #928388;
  width: auto;
  z-index: 2;
  float: right;
}
.ribben p {
  font-size: 1em;
  color: #fff;
  text-transform: uppercase;
}

.ribben::after {
  content: '';
  position: absolute;
  top: 90%;
  right: 77%;
  width: 0;
  height: 0;
  border-top: 24px solid #928388;
  border-right: 14px solid transparent;
  border-left: 3px solid transparent;
  transform: rotate(96deg);
}

