<!doctype html>
{% load static %}
<html lang="en" ng-app="mainApp">

<head>
    {%include "includes/ads.html"%}
    <script async custom-element="amp-auto-ads" src="https://cdn.ampproject.org/v0/amp-auto-ads-0.1.js">
    </script>
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, minimum-scale=1.0">
    <meta property="og:type" content="website">
  
    <meta property="og:site_name" content="9 blogspace">
    <meta property="og:image" itemprop="image primaryImageOfPage" content="{% static 'images/blg.svg'%}">
    {%block head_content%}{%endblock%}
    <link rel="shortcut icon" href="{% static 'images/newicon.ico' %}" type="image/x-icon">
    <title>{%block title%}{%endblock%}</title>
    {%include "includes/website_index/static_files.html" %}
<style type="text/css">
#ccircle {
    width: 2em;
    height: 2em;
    margin-right: .25em;
    display: inline-block;

    border-radius: 50%;
    font-size: 10px;
    color: white;
    line-height: 20px;
    text-align: center;
    background-color: gray;
    background-size: 150% 150%;

    background-repeat: no-repeat;
    background-position: 97% 75%;
}
</style>
</head>

<body ng-controller="defaultCtrl" ng-cloak>
    <amp-auto-ads type="adsense" data-ad-client="ca-pub-6147336652058243">
    </amp-auto-ads>
    {%autoescape on%}
    <header>
        {% include "includes/website_index/navs.html" %}
    </header>
    <!-- container -->
    {% block header %}
    {% endblock header %}
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-8">
                    {% block content %}
                    {%endblock%}
                    {%include 'includes/modal_login.html'%}
                    <div class="brdr-ash-1 opacty-5"></div>
                    {% if posts %}
                    <h4 class="p-title mt-50 text-left"><b>READS YOU MAY LIKE</b></h4>
                    <div class="row">
                        {% for post in posts %}
                        <div class="col-sm-6">
                            <div class="card box mt-2" style="background-color: white; z-index: 1, width:22rem; height: 24rem;">
                          <img class="card-img-top" src='{{post.photos.url}}' height="50%
                          " alt="image loading...">
                                <div class="card-body">
                                    <a href="{% url 'getpost' post.slug %}" class="card-link">
                                        <i class="fa fa-bookmark"></i>
                                        <h3 class="card-title">
                                            {{post.topic | safe |  truncatewords:30}}
                                        </h3>
                                    </a>
                                        <!--p>{{post.content | safe | truncatewords:16 }}</p-->
                                        <div class="d-flex justify-content-between mt-1">
                                            <span class="float-right">
                                              {% if not req_post.post_by.profile.picture %}
<div id="ccircle">{{req_post.post_by.first_name | slice:1}}</div>
{% else %}
<img src="{{req_post.post_by.profile.picture.url}}" height="40" width="50" class="avatar circle">
{% endif %} 
                    <b style="font-size: 0.8em">{{post.post_by.get_full_name | truncatechars:15}}
                    <p> <span id="momentum" class="font-3 gray mr-10">
                                                {{post.modified | date:"Y/m/d H:i:m" }}
                                            </span></p></b>
                </span>
                <span class="float-left">
                    {{post.post_views}}&times;views
                </span>
                                        
                                           
                                        </div>
                                    
                                </div>
                            </div>
                        </div>
                        <!--div class="col-sm-4">
                            {% if post.photos %}
                            <img src="{{post.photos.url}}" alt="" height="160" width="300" alt="{{post.topic}}" />
                            {%endif%}
                            <h4 class="pt-20">
                                <a href="{% url 'getpost' post.slug %}" {% if post.topic|length >= 20 %} title='{{post.topic}}' {%endif%}>
                                    <b>{{ post.topic }}</b>
                                </a>
                            </h4>
                            <ul class="list-li-mr-20 pt-10 mb-30">
                                <li class="color-lite-black">
                                    <a href="{% url 'getpost' post.slug %}" class="color-black" title="">
                                        <b>
                                            <i class="fa fa-dot-circle"></i>
                                            &nbsp;{{post.category}}
                                        </b>
                                    </a>
                                    <span id="momentum">
                                        {{ post.modified | date:"Y/m/d H:i:m"}}
                                    </span>
                                </li>
                                <li>
                                    {{post.post_views}} views
                                </li>
                                <li>
                                    {% load disqus_tags %}
                                    <a href="{% url 'getpost' post.slug %}#disqus_thread" data-disqus-identifier="{{ post.id }}" title=""></a>
                                    {% disqus_num_replies %}
                                </li>
                            </ul>
                        </div--><!-- col-sm-4 -->
                        {%endfor%}
                    </div>
                    {% endif%}
                    <div class="brdr-ash-1 opacty-5"></div>
                    <h4 class="p-title mt-50 text-left" style="font-family: Lato;"><b>COMMENTS</b></h4>
                    {%block disqus%}
                    {%endblock%}
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="pl-20 pl-md-0">
                        <div class="mtb-50">
                            {% include "includes/website_index/related_posts.html" %}
                        </div>
                    </div>
                    <div class="mtb-50 pos-relative">
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Life's Sweetness -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-6147336652058243"
     data-ad-slot="2775206229"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
            </div>
                  <div class="mtb-50 pos-relative">
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- IamBlessed -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-6147336652058243"
     data-ad-slot="7255420404"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
                    <div class="mtb-50 mb-md-0 text-left" style="font-family: Raleway;">
                        <h4 class="p-title"><b>NEWSLETTER</b></h4>
                        <p class="mb-20">Subscribe to our newsletter to get notification about new updates,
                            information, discount, etc..</p>
                        <form class="nwsltr-primary-1" action="{% url 'getpost' req_post.slug %}" method="POST">
                            {%csrf_token%}
                            {{newsform}}
                            <button type="submit" class="btn btn-success btn-round"><i class="fa fa-paper-plane"></i></button>
                        </form>
                        <div class="msg" style="color: blue">
                            <small>{{msg}}</small>
                        </div>
                    </div><!-- mtb-5 -->
                    {% include 'includes/getpost_ad.html' %}
                </div>
            </div> <!-- row -->
        </div> {# container ends #}
    </section>
    {% include "includes/website_index/footer.html" %}
    {%endautoescape%}
</body>

</html>
