<!doctype html>
{% load static %}
<html lang="en" ng-app="mainApp">

<head>
    {%include "includes/ads.html"%}
    
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, minimum-scale=1.0">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="9 blogspace">
    <meta property="og:image" itemprop="image primaryImageOfPage" content="{% static 'images/blg.svg'%}">
    {%block head_content%}{%endblock%}
    <link rel="shortcut icon" href="{% static 'images/newicon.ico' %}" type="image/x-icon">
    <title>{%block title%}{%endblock%}</title>
    {%include "includes/website_index/static_files.html" %}
    <style type="text/css">
    #ccircle {
        width: 2.2em;
        height: 2.2em;
        margin-right: .25em;
        padding: 0.8em 0.1em;
        display: inline-block;
        border-radius: 50%;
        font-size: 14px;
        color: white;
        line-height: 10px;
        text-align: center;
        background-color: gray;
        background-size: 150% 150%;

        background-repeat: no-repeat;
        background-position: 97% 75%;
    }


    .rounded-circle {
        border: 3px solid gray;
        padding: 0.2px 0.2px;
    }

    div img[data-src] {
      filter: blur(0.2em);
    }

    div img {
      filter: blur(0em);
      transition: filter 0.5s;
    }
    </style>
</head>

<body ng-controller="defaultCtrl" ng-cloak>

    {%autoescape on%}
    <header>
        {% include "includes/website_index/navs.html" %}
    </header>
    <!-- container -->
    {% block header %}
    {% endblock header %}
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-8">
                    {% block content %}
                    {%endblock%}
                    {%include 'includes/modal_login.html'%}
                    <div class="brdr-ash-1 opacty-5"></div>
                    {% if posts %}
                    <h4 class="p-title mt-50 text-left"><b>READS YOU MAY LIKE</b></h4>
                    <div class="row">
                        {% for post in posts %}
                        <div class="col-sm-6">
                            <div class="card box mt-2" style="background-color: white; z-index: 1, width:22rem; height: 25rem;">
                                <img class="card-img-top" data-src='{{post.photos.url}}' height="50%
                          " alt="image loading...">
                                <div class="card-body">
                                    <a href="{% url 'getpost' post.slug %}" class="card-link">
                                        <span style="font-size: 0.8em"><i class="fa fa-bookmark"></i> {{post.category}}</span>
                                        <h3 class="card-title" style="color: black;"
                                        {% if post.topic|length >= 50 %}
                                            title="{{post.topic}}"
                                            {%endif%}>
                                            {{post.topic | capfirst }}
                                        </h3>
                                    </a>
                                    <!--p>{{post.content | safe | truncatewords:16 }}</p-->
                                    <div class="d-flex justify-content-between mt-1">
                                        <span class="float-right">
                                           <div class="d-flex justify-content-between mt-1">
                                            <span class="float-right">
                                            {% if not post.post_by.profile.picture %}
                                            <div id="ccircle">{{post.post_by.first_name | slice:1}}</div>
                                            {% else %}
                                            <img src="{{post.post_by.profile.picture.url}}" height="40" width="50" class="img-thumbnail rounded-circle avatar">
                                            {% endif %}
                                        </span>
                                        <span class="float-left" style="font-size: 0.8em;">

                                                 <b>{{post.post_by.get_full_name | truncatechars:15}}</b>
                                                <br>
                                                <span id="momentum">
                                                    {{post.modified | date:"Y/m/d H:i:m" }}
                                                    </span> - {{req_post.read_time}} mins read


                                           </span>
                                       </div>
                                        </span>
                                        <span class="float-left">
                                            {{post.post_views}}&times;views
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {%endfor%}
                    </div>
                    {% endif%}
                    <div class="brdr-ash-1 opacty-5"></div>
                    <h4 class="p-title mt-50 text-left"><b>COMMENTS</b></h4>
                    {%block disqus%}
                    {%endblock%}
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="pl-20 pl-md-0">
                        <div class="mtb-50">
                            {% include "includes/website_index/related_posts.html" %}
                        </div>
                    </div>
                    <div class="mtb-50 pos-relative">
        <!-- put ads here-->
                    </div>
                    <div class="mtb-50 pos-relative">
                      <!-- put ads here-->

                        <div class="mtb-50 mb-md-0 text-left" style="font-family: Raleway;">
                            <h4 class="p-title"><b>NEWSLETTER</b></h4>
                            <p class="mb-20">Subscribe to our newsletter to get notification about new updates,
                                information, discount, etc..</p>
                            <form class="nwsltr-primary-1" action="{% url 'getpost' req_post.slug %}" method="POST">
                                {%csrf_token%}
                                {{newsform}}
                                <button type="submit" class="btn btn-success btn-round"><i class="fa fa-paper-plane"></i></button>
                            </form>
                            <div class="msg" style="color: blue">
                                <small>{{msg}}</small>
                            </div>
                        </div><!-- mtb-5 -->
                        {% include 'includes/getpost_ad.html' %}
                    </div>
                </div> <!-- row -->
            </div> {# container ends #}
    </section>
    {% include "includes/website_index/footer.html" %}
    {%endautoescape%}
</body>

</html>
