<!doctype html>
{% load static %}
<html lang="en" ng-app="mainApp">

<head>
    {%include "includes/ads.html"%}
    <script async custom-element="amp-auto-ads" src="https://cdn.ampproject.org/v0/amp-auto-ads-0.1.js">
    </script>
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, minimum-scale=1.0">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://9blogspace.com">
    <meta property="og:site_name" content="9blogspace">
    <meta property="og:image" itemprop="image primaryImageOfPage" content="{% static 'images/blg.svg'%}">
    <link rel="shortcut icon" href="{% static 'images/newicon.ico' %}" type="image/x-icon">
    {{category.get_meta_tags}}
    <title>{%block title%}{%endblock%}</title>
    {% include "includes/website_index/static_files.html" %}
    {% block head_content%}
    {% endblock %}
    <style>
    div img[data-src] {
      filter: blur(0.2em);
    }

    div img {
      filter: blur(0em);
      transition: filter 0.5s;
    }
    </style>
</head>

<body ng-controller="defaultCtrl" ng-cloak>

    <header>
        {%include "includes/website_index/navs.html" %}
    </header>
    <div class="container mt-10 mb-10 pt-10 pb-10">
        <div class="row">
            <div class="col-lg-9 col-md-12">
                {% block content %}
                {% endblock %}
            </div>
            <div class="col-sm-12 col-lg-12">
                <div class="row">
                                      <span class="jumbotron text-center bg-light">
<!-- ads here -->
                    </span>
                    <span class="jumbotron text-center bg-light">
                      <!-- ads here -->

          </span>
                </div>
            </div>
        </div>
        <div class="col-sm-10 col-md-10 col-lg-10">
            <div class="d-flex justify-content-between mt-2" style="font-size: 1.2em;">
                <div class="float-left">
                    {% if posts.has_previous %}
                    <a href="?page={{ posts.previous_page_number }}" style="font-size: 1.2em;"><i class="fas fa-x fa-chevron-circle-left"></i>P</a>
                    {%endif%}
                </div>
                <a href="#">Page {{ posts.number }} of {{ posts.paginator.num_pages }}
                </a>
                <div class="float-right">
                    {% if posts.has_next %}
                    <a href="?page={{ posts.next_page_number }}" style="font-size: 1.2em;">
                        N<i class="fas fa-x fa-chevron-circle-right"></i>
                    </a>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="d-none d-md-block d-lg-none col-md-3"></div>
        <div class="col-md-6 col-lg-4">
            <div class="pl-20 pl-md-0">
                <div class="mtb-50">
                    {% include "includes/website_index/related_posts.html" %}
                </div>
            </div>
        </div>
        <div class="d-none d-md-block d-lg-none col-md-3"></div>
    </div>
    <footer>
        {%include "includes/website_index/footer.html" %}
    </footer>
</body>

</html>
