<!doctype html>


<html lang="en">
<head>
    {%include "includes/ads.html"%}

     {% include "noscript.html" %}
     <meta charset="utf-8">
   <title>{% block title %} {%endblock%}</title>
   {%load static%}
   <link rel="shortcut icon"  href="{% static 'images/newicon.ico' %}" type="image/x-icon">
  
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>

    {% block header%}
    {%endblock%}

    
  </head>

<body class="regbody">
  <div class="row">
    {%block content%}
    {% endblock %}
  </div>
    
  

</body>
</html>

