<!-- Modal -->
{% load static %}
<style type="text/css">
.modal.fade .modal-dialog.modal-dialog-zoom {-webkit-transform: translate(0,0)scale(.5);transform: translate(0,0)scale(.5);}
.modal.show .modal-dialog.modal-dialog-zoom {-webkit-transform: translate(0,0)scale(1);transform: translate(0,0)scale(1);}

body {
    background: #f9f7f6;
    color: #404d5b;
    font-weight: 500;
   
    font-family: 'Raleway', Arial, sans-serif;
}

</style>

   
<div class="modal fade"  id="exampleModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel3" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-zoom" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>

      <div class="modal-body">
        <div class="vertical-form" style="border: 1px 1px 1px 0px solid black; border-color: red;">
         
            <h2 class="form-login-heading" style="background: white;">
              <img src="{% static "images/blg.svg" %}" width="80" height="80">
            </h2>

 <form method="post" action="{% url "signin" %}" class="bgcolor-3 form-login">
      {%csrf_token%}
 
            
    <legend class="text-center border-bottom" style='font-family:"Lato"'>Log In  to Clap or Like</legend>
      <div class="vertical-form">
             
        <div class="form-group">
          <input type="text" name="username" placeholder="Username" 
              class="form-control" />
        </div>
        <div class="form-group">
          <input type="password" name="password" placeholder="Password" 
              class="form-control"/>
    
        </div>
        <div class='input-group-sm mb-2'>
          <button type="submit" value="Log In" class="btn btn-block btn-success">
            <i class="fa fa-lock"></i>
            Log In
          </button>
        </div>


      </div>
      
    
     </form>
   </div>
   <div class="modal-footer">
                <p class="float-center" style="color:#444;">
          New Guest? 
        </p>
        <button type="button" class="btn btn-primary"><a href="{%url "reg"%}">Sign Up!</a></button>
      </div>
    </div>
  </div>
</div>
</div>


    