{# template "website/category_posts.html" #}
{% extends "layouts/category.html" %}
{%block title%}
{{category.name}}
{%endblock%}
{%block head_content %}
<style type="text/css">

.box {
    background: #fff;
    border-radius: 0.3rem;
    height: 15rem;
    width: 16rem;
    margin-right: 2em;
}

.avatar {
    display: inline-block;
    width: 1.6em;
    height: 1.6em;
    border-radius: 500rem;

    /*margin-bottom: 0em;*/
}

#circle {
    width: 2em;
    height: 2em;
    margin-left: .25em;
    display: inline-block;

    border-radius: 50%;
    font-size: 10px;
    color: white;
    line-height: 20px;
    text-align: center;
    background-color: gray;
    background-size: 150% 150%;

    background-repeat: no-repeat;
    background-position: 97% 75%;
}
</style>
{% endblock %}
{% block content %}
{%if not posts %}
<div class="row">
    <div class="jumbotron text-center bg-light">
        <h3 class="h3">Nothing to Show Yet</h3>
        <p> If you have reasonable posts you can join our community to update us </p>
        <p>Thanks ...</p>
    </div>
</div>
{%else%}
<div class="row">
  <div class="col-lg-12 col-sm-12 col-md-12">
    <h4 class="p-title mt-50"><b>{{category.name}}</b></h4>
  </div>
  <!--div class="col-sm-12 col-lg-8">
    <div class="row"-->
      {%for post in posts %}
      <div class="col-md-6 col-sm-6 col-lg-4">
            <div class="box shadow ml-12">
                <img  data-src="{{post.photos.url}}"  width="300" height="200" src='data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7' alt="{{post.topic | truncatechars:10}}">
                <div class="d-flex justify-content-between mt-2">
                    <div class="float-left">
                        <a href="{% url 'getpost' post.slug %}" {%if post.topic|length >= 20 %} title='{{post.topic}}' {%endif%}>
                            <b>{{post.topic | truncatechars:23}}</b>
                        </a>
                    </div>
                    <div class="float-end">
                        <small>
                            <h5>
                                <b>{{post.likes_on_post.num_of_likes}}</b> <i class="fa fa-2x fa-thumbs-up" style="color: gray;"></i>
                            </h5>
                        </small>
                    </div>
                </div>
            </div>

        <div class="d-flex justify-content-between mt-2 mb-2" >
            <div class="float-left">
                {% if post.post_by.profile.picture %}
                <img data-src="{{post.post_by.profile.picture.url}}" class="avatar img-fluid" src='data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7' alt="{{post.post_by.get_full_name}}" />
                {%else%}
                <div id="circle">
                {{post.post_by.first_name | slice:1}}</div> &nbsp;&nbsp;&nbsp;&nbsp;|
                <br>
                {%endif%}
                <p style="font-size: 0.8em">
                    <b>{{post.post_by.get_full_name | truncatechars:15}}</b>
                </p>
            </div>
<div  class="float-end" ng-cloak>

                    {%include 'includes/svg_clap.html'%} __ {{post.clap.num_claps}} | NumFilter__


                </div>

        </div>
    </div>

    {% endfor %}
  </div>
<!--/div-->
{% endif %}
{%endblock%}
