<!DOCTYPE html>
{% load static %}

<html ng-app="mainApp">
  <head>
    {%include "includes/ads.html"%}
<title> Contact Us </title>
<meta charset="utf-8">
        <meta name='viewport' content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    
    <link rel="shortcut icon"  href="{% static 'images/newicon.ico' %}" type="image/x-icon">
         <meta name="description" content="you can rech us for adverts jobs placement, partnerships and other concerns, we are here to reply your requests immediately">
    {%include "includes/website_index/static_files.html"%}
    <link rel="stylesheet" type="text/css" href="{% static 'css/contact.css' %}">
<!--style type="text/css">
   .files input {
    outline: 2px dashed #92b0b3;
    outline-offset: -10px;
    -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
    transition: outline-offset .15s ease-in-out, background-color .15s linear;
    padding: 120px 0px 85px 35%;
    text-align: center !important;
    margin: 0;
    width: 100% !important;
    }
    .files input:focus{     outline: 2px dashed #92b0b3;  outline-offset: -10px;
    -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
    transition: outline-offset .15s ease-in-out, background-color .15s linear; border:1px solid #92b0b3;
  }
  .files{ position:relative}
  .files:after {  pointer-events: none;
    position: absolute;
    top: 60px;
    left: 0;
    width: 50px;
    right: 0;
    height: 56px;
    content: "";
    background-image: url(https://image.flaticon.com/icons/png/128/109/109612.png);
    display: block;
    margin: 0 auto;
    background-size: 100%;
    background-repeat: no-repeat;
  }
  .color input{ background-color:#f1f1f1;}
  .files:before {
    position: absolute;
    bottom: 10px;
    left: 0;  pointer-events: none;
    width: 100%;
    right: 0;
    height: 57px;
    content: " or drag it here. ";
    display: block;
    margin: 0 auto;
    color: #2ea591;
    font-weight: 600;
    text-transform: capitalize;
    text-align: center;
  }
  label{
    font-weight: bold;
  }
</style -->
    <base href="{% url 'indexpage' %}" />
  </head>
 
  <body ng-controller="defaultCtrl">
    <header>
      {% include "includes/website_index/navs.html" %}
    </header>

    <section>
      <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Life's Sweetness -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-6147336652058243"
     data-ad-slot="2775206229"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
      <div class="container">

        <div class="row">

          <div class="col-sm-12 col-md-8">
            <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- IamBlessed -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-6147336652058243"
     data-ad-slot="7255420404"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
             {% include "includes/alerts.html" %}
            <h3><b>SEND US A MESSAGE</b></h3>
            <p class="mb-30 mr-100 mr-sm-0">We’d love to hear from you – 
              <em><strong>please get in touch for comments, requests, 
              advertising, partnerships or job inquiries.</strong></em>
            </p>
            <form class="form-block form-bold form-mb-20 form-h-35 form-brdr-b-grey pr-50 pr-sm-0" method="post" action="" enctype="multipart/form-data">


              <div class="row">

                {%if form.errors %}
                  <div class="col-sm-12 ">
                    <div class="alert alert-danger">
                      <p> could not send this message</p>
                    </div>
                  </div>
                {%endif%}





                {% csrf_token%}

                {% for field in form %}
                  {%if field.label == "Message"%}
                    <div class="col-sm-12">
                      <div class="pos-relative pr-80">
                        <p class="color-ash">{{field.label_tag}}</p>
                        <h4>Tell us about your question</h4>
                        {{field}}

                        {{field.errors}}

                      </div><!-- pos-relative -->
                    </div><!-- col-sm-6 -->
                    {%elif field.label == "Select File to Upload"%}
                    <div class="col-sm-6">
                   <div class="form-group files color">
                <label>Upload Your File </label>
                <input type="file" name="files" class="form-control" multiple="" id="id_files" onchange="uploadFile()">
                            {{field.errors}}     
              </div>  

</div>

                  {% else %} 
                    <div class="col-sm-6">
                      <p class="color-ash">{{field.label_tag}}*</p>
                      <div class="pos-relative">
                        {{field}}	
                        <small>{{field.help_text}}</small>
                      </div><!-- pos-relative -->
                      {{field.errors}}
                    </div><!-- col-sm-6 -->
                  {%endif%}
                {% endfor %}
            
                <button class="abs-br font-20 plr-15 btn-fill-primary" type="submit">submit</button>
              </div><!-- row -->
            </form>
          </div><!-- col-md-6 -->

<div class="modal fade" id="modal-progress" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Uploading...</h4>
      </div>
      <div class="modal-body">
        <progress id="progressBar" value="0" max="100" style="width:300px;"></progress>
  <h3 id="status"></h3>
  <p id="loaded_n_total"></p>
        <div class="progress">
          <div class="progress-bar" role="progressbar" style="width: 0%;">0%</div>
        </div>
      </div>
    </div>
  </div>
</div>
          <div class="col-sm-12 col-md-4">
            <h3 class="mb-20 mt-sm-50"><b>INFORMATION</b></h3>
            <p> By using the form next to you, you can contact the divweb team </p>
            <ul class="font-11 list-relative list-li-pl-30 list-block list-li-mb-15">

              <li><i class="fas fa-2x fa-envelope"></i>
               We will reply your Emails</li>
              <li><i class="fas fa-2x fa-phone"></i>
                We will Call you</li>
                <li>We really appreciate you contacting us</li>
                <li><script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- IamBlessed -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-6147336652058243"
     data-ad-slot="7255420404"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});

</script>
</li>
            </ul>
            <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- IamBlessed -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-6147336652058243"
     data-ad-slot="7255420404"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
            <ul class="font-11  list-a-plr-10 list-a-plr-sm-5 list-a-ptb-15 list-a-ptb-sm-5">
              <li><a class="pl-0" href="#"><i class="ion-social-linkedin"></i></a></li>
              <li><a href="#"><i class="ion-social-facebook"></i></a></li>
              <li><a href="#"><i class="ion-social-twitter"></i></a></li>
              <li><a href="#"><i class="ion-social-google"></i></a></li>
              <li><a href="#"><i class="ion-social-pinterest"></i></a></li>
            </ul>

          </div><!-- col-md-6 -->
        </div><!-- row -->

      </div><!-- container -->

    </section>

    <script type="text/javascript" src="{% static 'js/contact.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/upload.js' %}"></script>
    {% include "includes/website_index/footer.html" %}

  </body>
</html>
