{# template website/popular_posts.html #}
{% extends "layouts/base.html" %}
{%block title%}
{{req_post.topic}}
{%endblock%}
{% block head_content%}
{% load static %}
<meta name="description" content="{{req_post.description}}">
<meta name="keywords" content="">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="">
<meta name="twitter:title" content="{{req_post.topic}}">
<meta name="twitter:description" content="{{req_post.description}}">
<meta name="twitter:image" content="{% static 'images/blg.svg'%}">
<meta name="twitter:url" content="https://9blogspace.com/{{req_post.slug}}">
<meta name="twitter:creator" content="">
<meta property="og:title" content="{{req_post.topic}}">
<meta property="og:type" content="article">
<meta property="og:description" content="{{req_post.description}}">
<meta property="og:locale" content="en-US">
<meta property="fb:app_id" content="">
<meta name="og:url" content="https://9blogspace.com/{{req_post.slug}}">
<meta name="article" content="">
{{req_post.get_meta_tags}}
<style type="text/css">
body {

    box-sizing: border-box;
    word-wrap: break-word;
    font-family: Montserrat, Lato;
    background-color: #fff;
}

p,
h1,
h2,
h3,
h4 {
    font-weight: 200 !important;

}

#circle {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    font-size: 50px;
    color: white;
    line-height: 80px;
    text-align: center;
    background-color: gray;
    background-size: 150% 150%;
    float: left;
    background-repeat: no-repeat;
    background-position: 97% 75%;
    margin-right: 0.3em;
}

.img {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    font-size: 50px;
    color: white;
    line-height: 80px;
    text-align: center;
    background-color: gray;
    background-size: 150% 150%;
    float: left;
    background-repeat: no-repeat;
    background-position: 97% 75%;
    margin-right: 0.3em;
}
</style>
<script>


const checkforTags = () => {

    let container = document.querySelector("#loop")
    let h1_tags = container.querySelectorAll('h1')
    console.log("This is h1 tags", h1_tags.length)
    if (h1_tags.length > 0) {
        let h2 = document.createElement('h4')



        Array.from(h1_tags, (h1) => {
            console.log("This is h1", h1)
            h2.innerHTML = h1.innerHTML
            h1.replaceWith(h2)
        })
    }
}
window.addEventListener('load', (e) => {
    try {
        readingTime();
        checkforTags();
    } catch (error) {
        console.log("errors in event handling", error)
    }

});
</script>
{% endblock %}
{% block header %}
<section class="ptb-0">
    <div class="mt-30  opacty-2"></div>
    <div class="container">
      {% if not req_post.post_by.profile.picture %}
<div id="circle">{{req_post.post_by.first_name | slice:1}}</div>
{% else %}
<img src="{{req_post.post_by.profile.picture.url}}" height="40" width="60" class="img">
{% endif %}
<ul class="list-li-mr-20 mtb-15 text-left">
    <li><b>{{req_post.post_by.get_full_name}}</b></li>
    <br />
    <li> {{ req_post.modified | date:"F jS, Y"}} . <span id="rt">{{req_post.read_time}}</span> mins read </li>
    <br />
    <li>
        viewed <view-dir link="{% url 'view_update' req_post.id %}">
            <b ng-cloak>&times;__views | NumFilter__</b>
        </view-dir>
    </li>
</ul>
    </div><!-- container -->
  </section>
{% endblock header %}
{% block content %}
<h1 class="text-left " style="font-size: 3em;">{{req_post.topic}}</h1>
<br><br>
<img src="{{ req_post.photos.url }}" alt="{{req_post.topic | truncatechars:10 }}" />
<article class="mtb-15 text-left" id="loop">
    {{ req_post.content | safe }}
</article>
<p class="mt-30">
    <div class="d-flex justify-content-between mt-2">
        <div class="float-left">
            {% if request.user.is_authenticated%}
            <like-dir usertoken='{{token}}' id="{{req_post.likes_on_post.id}}" liker="{{request.user.id}}" count="{{req_post.likes_on_post.num_of_likes}}">
                <b>__ likes | NumFilter __</b>
                <i class="fa fa-thumbs-up" style="color: #e25e2b;"></i>
            </like-dir>
            {% else %}
            <div data-toggle="modal" data-target="#exampleModal3">
                {{req_post.likes_on_post.num_of_likes}}
                <i class="fa fa-thumbs-up" style="color: #e25e2b; "></i>
            </div>
            {%endif%}
        </div>
        <div class="float-right">
            {%for tag in req_post.tags_list%}
            <span class="badge badge-pill badge-primary">
                {{tag }}
            </span>
            {%endfor%}
        </div>
    </div>
</p>

{%if req_post.post_by.profile %}
<div class="quote-primary mt-10">
    <div class="d-flex justify-content-between mt-2">
        <div class="float-left">
             <div class="d-flex justify-content-between mt-2">
        
                <span class="float-left">
                    {% if req_post.post_by.profile.picture %}
                    <img src="{{profile.picture.url}}" class="img" alt="r req_post.post_by.profile.picture" />
                    {%else %}
                    <div id="circle">{{req_post.post_by.get_full_name | slice:1}}</div>
                    {% endif %}
                </span>

                <span class="float-right">
                    <ul>
                        <li><h5>About Me.</h5></li>
                    <li><b>{{req_post.post_by.get_full_name}}</b></li><br>
                    <li>{{ req_post.post_by.profile.bio | linebreaks}}</li>
        </ul>
                </span>

        </div>
    </div>
        <!-- end of second parent float   -->
    <!-- end of the first parent float/-->
        <div class="float-right">
            <h6>
                <clap-dir clapid="{{req_post.clap.id}}" usertoken="'{{token}}'" owner="{{req_post.post_by.id}}" clapper="{{request.user.id}}" counter="{{clap_count}}">
                    {% include "includes/clapsholder.html"%}
                    <b>__claps | NumFilter __ </b>
                </clap-dir>
            </h6>
        </div>
    </div>
    <div class="float-right" class="d-flex justify-content-between mt-2">
        <div class="float-left"> </div>
    </div><!-- quote-primary -->
</div>
{%endif%}
{% endblock %}
{%block disqus%}
{% load disqus_tags %}
{% disqus_num_replies %}
{% load disqus_tags %}
{% disqus_show_comments %}
{%endblock%}
