{% load static %}
<style type="text/css">
  .navbar {
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;

    /* the rest of your styling */
}
</style>
<nav class="navbar navbar-expand-md navbar-dark   bgd">
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2" ng-controller="timeCtrl">
        <ul class="navbar-nav mr-auto  text-center">
            <li class="nav-item active">
                <a class="nav-link" href="#" title="">
                    <font color="#4ECDC4;">
                        <b ng-cloak>__ today __</b>
                    </font>
                </a>
            </li>
            <!--li class="nav-item">
              <a routerLinkActive="active" href="{% url 'payment' %}" class="nav-link">
                <i class="fa fa-heart"></i><b>Support Us</b></a>
            </li-->
        </ul>
        <div class="sample two form-inline my-2 my-lg-0">
            <input type="text" id="search" class="" name="search" aria-label="Search" placeholder="search">
            <button type="submit" class="btn btn-search fa fa-search  "></button>
            <button type="reset" class="btn btn-reset fa fa-times"></button>
        </div>
        <!--input class="form-control mr-sm-2" type="search" placeholder="Search" >
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form-->
    </div>
    <div class="mx-auto order-0">
        <a class="navbar-brand mx-auto" href="{% url 'indexpage' %}" title='' style="font-family: Lato">
          <b><span>9blo</span><font color="#4ECDC4">gspace</font>.c<i class="fa fa-globe-africa" aria-hidden="true"></i>m</b></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto font-12">
            <li class="nav-item" ng-click="show('bottom')">
                <a routerLinkActive="active" class="nav-link" href="" title="">Go to Quick Links</a>
            </li>
            {% if not request.user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'signin' %}" title="">Log In</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-center" href="{% url 'reg' %}" title="">Join Us</a>
            </li>
            {%else %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'edit_profile' request.user %}" title="">Edit Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'dashboard' request.user %}" title="">Go To Dashboard</a>
            </li>
            {% endif %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'contact' %}" title="">Contact Us</a>
            </li>
            {% if request.user.is_authenticated %}
            <li class="nav-item">
                {% if request.user.profile.picture%}
                <a href="{% url 'dashboard' request.user %}" title="" class="nav-link" routerLinkActive="active">
                    <img src="{{request.user.profile.picture.url}}" class="rounded-circle img-thumbnail  avatar" alt="{{request.user.get_full_name}}">
                </a>
                {%else%}
                <a href="{% url 'dashboard' request.user.username %}" title="" class="nav-link ">
                    <img src="{% static 'images/icon.jpg' %}" class=" rounded-circle img-thumbnail  avatar" alt="{{request.user.get_full_name}}">
                </a>
                {%endif%}
            </li>
            {%endif%}
        </ul>
    </div>
</nav>